:root {
    --gradient-color1: #FECF55;
    --gradient-color2: #EEF2C0;
    --accent-color: #F15822;
    --slogan-shadow: #FECF55;
    --main-color: #F7B2C4;
    --button-border: #fff;
    --input-placeholder-color: #9b9b9b;
    --text-color: #000000;
    --button-color: #DC262F;
    --poster-slogan-shadow: #F1EA2E;
    --poster-slogan: #E31E26;
    --poster-slogan-bg: #FFFFFF;
    --poster-slogan-bg-stroke: #F15822;
    --poster-skin: #F69874;
    --poster-stroke: #000000;
    --poster-nails: #DB325B;
    --poster-folds: #FFFDF8;
    --poster-t-shirt: #FFFFFF;
    --poster-googles: #FFFFFF;
    --poster-mouth: #DC262F;
    --poster-hairs: #F3A95E;
    --buttons-theme-color2: #FECF55;
    --buttons-theme-color1: #000000;
    --body-bg-gradient:
        repeating-linear-gradient(var(--gradient-color1) 0 15px,
            var(--gradient-color2) 15px 25px,
            var(--gradient-color1) 25px 45px,
            var(--gradient-color2) 45px 50px,
            var(--gradient-color1) 50px 80px,
            var(--gradient-color2) 80px 100px,
            var(--gradient-color1) 100px 110px,
            var(--gradient-color2) 110px 125px,
            var(--gradient-color1) 125px 140px,
            var(--gradient-color2) 140px 150px,
            var(--gradient-color1) 150px 170px,
            var(--gradient-color2) 170px 175px,
            var(--gradient-color1) 175px 205px,
            var(--gradient-color2) 205px 230px,
            var(--gradient-color1) 230px 240px,
            var(--gradient-color2) 240px 255px,
            var(--gradient-color1) 255px 270px,
            var(--gradient-color2) 270px 280px,
            var(--gradient-color1) 280px 300px,
            var(--gradient-color2) 300px 305px,
            var(--gradient-color1) 305px 350px,
            var(--gradient-color2) 350px 355px,
            var(--gradient-color1) 355px 365px,
            var(--gradient-color2) 365px 380px);
}

.page.theme_dark {

    --gradient-color1: #43124A;
    --gradient-color2: #00509A;
    --accent-color: #43124A;
    --main-color: #722D7C;
    --text-color: #FFFFFF;
    --border-radius-input: 5px;
    --buttons-theme-color1: #43124A;
    --buttons-theme-color2: #ED1682;
    --poster-slogan-shadow: #2edaf1;
    --poster-slogan: #E31E26;
    --poster-slogan-bg: #FFFFFF;
    --poster-slogan-bg-stroke: #F15822;
    --poster-skin: #5f231b;
    --poster-folds: #FFFDF8;
    --poster-t-shirt: #4BB2E5;
    --poster-hairs: #ED1682;
    --button-color: #340e38;
    --input-placeholder-color: #9b9b9b;
    --text-color: #000000;
    --body-bg-gradient:
        repeating-linear-gradient(var(--gradient-color1) 0 15px,
            var(--gradient-color2) 15px 25px,
            var(--gradient-color1) 25px 45px,
            var(--gradient-color2) 45px 50px,
            var(--gradient-color1) 50px 80px,
            var(--gradient-color2) 80px 100px,
            var(--gradient-color1) 100px 110px,
            var(--gradient-color2) 110px 125px,
            var(--gradient-color1) 125px 140px,
            var(--gradient-color2) 140px 150px,
            var(--gradient-color1) 150px 170px,
            var(--gradient-color2) 170px 175px,
            var(--gradient-color1) 175px 205px,
            var(--gradient-color2) 205px 230px,
            var(--gradient-color1) 230px 240px,
            var(--gradient-color2) 240px 255px,
            var(--gradient-color1) 255px 270px,
            var(--gradient-color2) 270px 280px,
            var(--gradient-color1) 280px 300px,
            var(--gradient-color2) 300px 305px,
            var(--gradient-color1) 305px 350px,
            var(--gradient-color2) 350px 355px,
            var(--gradient-color1) 355px 365px,
            var(--gradient-color2) 365px 380px);
}

@media (prefers-color-scheme: dark) {
    :root {
        --gradient-color1: #FECF55;
        --gradient-color2: #EEF2C0;
        --accent-color: #F15822;
        --slogan-shadow: #FECF55;
        --main-color: #F7B2C4;
        --button-border: #fff;
        --input-placeholder-color: #9b9b9b;
        --text-color: #000000;
        --button-color: #DC262F;
        --poster-slogan-shadow: #F1EA2E;
        --poster-slogan: #E31E26;
        --poster-slogan-bg: #FFFFFF;
        --poster-slogan-bg-stroke: #F15822;
        --poster-skin: #F69874;
        --poster-stroke: #000000;
        --poster-nails: #DB325B;
        --poster-folds: #FFFDF8;
        --poster-t-shirt: #FFFFFF;
        --poster-googles: #FFFFFF;
        --poster-mouth: #DC262F;
        --poster-hairs: #F3A95E;
        --buttons-theme-color2: #FECF55;
        --buttons-theme-color1: #000000;
    }
}